* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #152549;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.hero-content {
  max-width: 700px;
  animation: fadeIn 1s ease;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 2rem;
  color: #38bdf8;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #cbd5e1;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero button {
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  background-color: #35a6d6;
  color: #0f172a;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  transform: translateY(-3px);
}

.secondary-button {
  background-color: transparent !important;
  border: 2px solid #38bdf8 !important;
  color: white !important;
}

.navbar {
  width: 100%;
  padding: 20px 40px;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  z-index: 1000;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #38bdf8;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #e2e8f0;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}

.nav-links a:hover {
  color: #38bdf8;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #38bdf8;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.page-container {
  padding: 140px 40px;
}

.skills-section {
  padding: 80px 40px;
}

.skills-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.skill-card {
  background-color: #111827;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #1e293b;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  border-color: #38bdf8;
}

.skill-card h3 {
  font-size: 1.2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Sobre*/

.about-section {
  max-width: 1100px;
  margin: 0 auto;
}

.about-section h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #cbd5e1;
  margin-bottom: 50px;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.about-card {
  background-color: #111827;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #1e293b;
  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-5px);
  border-color: #38bdf8;
}

.about-card h3 {
  margin-bottom: 15px;
  color: #38bdf8;
}

.about-card p {
  color: #cbd5e1;
  line-height: 1.6;
}



.academic-section {
  max-width: 1000px;
  margin: 0 auto;
}

.academic-section h1 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.timeline {
  position: relative;
  border-left: 2px solid #38bdf8;
  padding-left: 40px;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-dot {
  width: 18px;
  height: 18px;
  background-color: #38bdf8;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 5px;
}

/* Academico */

.timeline-content {
  background-color: #111827;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid #1e293b;
  transition: 0.3s;
}

.timeline-content:hover {
  transform: translateY(-5px);
  border-color: #38bdf8;
}

.timeline-content h3 {
  margin-bottom: 10px;
  color: #38bdf8;
}

.timeline-content span {
  display: block;
  margin-bottom: 15px;
  color: #94a3b8;
}

.timeline-content p {
  color: #cbd5e1;
  line-height: 1.7;
}

/* Contato */

.professional-section {
  max-width: 1100px;
  margin: 0 auto;
}

.professional-section h1 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.professional-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.professional-card {
  background-color: #111827;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #1e293b;
  transition: 0.3s;
}

.professional-card:hover {
  transform: translateY(-5px);
  border-color: #38bdf8;
}

.professional-card h3 {
  margin-bottom: 10px;
  color: #38bdf8;
}

.professional-card span {
  display: block;
  margin-bottom: 20px;
  color: #94a3b8;
}

.professional-card p {
  line-height: 1.7;
  color: #cbd5e1;
  margin-bottom: 20px;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-tags span {
  background-color: #1e293b;
  padding: 8px 14px;
  border-radius: 999px;
  color: #38bdf8;
  font-size: 0.9rem;
  margin-bottom: 0;
}
